.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35vw;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 0.5rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container form {
  width: 100%;
}
.radio {
  display: flex;
  gap: 0.5rem;
}

.spinnerCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.containerAll {
  width: 50vw;
  margin-top: 2rem;
  background-color: rgb(94, 91, 91);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-left: -1rem;
}
.model {
  position: fixed;
  top: 20%;
  left: 35%;
  height: 100vh;
  background-color: rgb(45, 44, 44);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 50;
}
.modelCont {
  position: absolute;
  color: white;
  width: 30vw;
  height: 55vh;
  background: rgb(103, 103, 103);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-body {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(240, 224, 224);
}
.colCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}
.search {
  width: 15vw;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
}



.slide-in-elliptic-bottom-fwd {
	-webkit-animation: slide-in-elliptic-bottom-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-bottom-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
            transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
            transform-origin: 50% -1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
            transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
            transform-origin: 50% -1400px;
    opacity: 1;
  }
}


.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


 @-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}






@media (100px <= width <= 500px) {
  .colCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -3.5rem;
  }
  .card-body {
    width: 60vw;
  }
}
@media (501px <= width <= 900px) {
  .colCard {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: -3.5rem; */
  }
  .card-body {
    width: 23vw;
  }
}
